.header {
    background: #000;
}

.header_inner {
    margin: 0 auto;
    padding: 0px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    max-width: 1230px;
}

.header_logo {
    color: #fff;
    margin-right:150px;
    text-decoration: none;
    font-weight: bold;
    justify-content: flex-start;
    font-size: 24px;
}
