.header {
    background: #000;
    
}

.header_inner {
    display:flex;
    margin: 0 auto;
    padding:0 15px;
    align-items: center;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    max-width: 1230px;
    justify-content: space-between;
}

.header_logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    justify-content: flex-start;
    font-size: 24px;
}
