nav {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-items: space-between;
    float: right;
}

.header-nav_link {
    color: #000;
    text-decoration: none;
    background: #fff;
    border-radius: 3px;
}

.header-nav_link a {
    color: #000;
    text-decoration: none;
    border: none;
    background: #fff;
    border-radius: 3px;
}

.header-nav_button {
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.header-nav_mypage a {
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.header-nav_sell a {
    border: none;
    padding: 5px 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    background: #fff;
    color: #000;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.item_content {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px 20px;
}

.split_item-image_container img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.split_item-text_container {
    flex: 1;
}

.form_button {
    width: 100%;
    margin-top: 20px;
}

.form_button a {
    padding: 10px;
    width: 300px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
    background: #ff0000;
    cursor: pointer;
}

.form_button-submit {
    padding: 10px;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #ff0000;
    cursor: pointer;
}

.container_item {
    width: 100%;
}

.container_item-button {
    display:flex;
}

.container_item-like span{
    margin-left: 12px;
}

.container_item-like button {
    border:none;
    background: #ffffff;
}

.container_item-comment_count span {
    margin-left: 7px;
}

.container_item span {
    font-weight: bold;
    font-size: 24px;
}

.container_item-category {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container_item-category input {
    width: 100px;
    text-align: center;
    border-radius: 10px;
    border:none;
    background: #f0f0f0;
}

.container_item-condition {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container_item input {
    width: 70%;
    padding: 10px;
    background: #f0f0f0;
    border: none;
}

.container_item textarea {
    width: 70%;
    height: 160px;
}

.container_item-profile {
    display:flex;
    align-items: center;
    gap: 20px;
}

.container_item-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.form_error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}