.email_container {
    margin: 30%;
    align-items: center;
    text-align: center;
}

.email_container p {
    font-weight: bold;
}

.verify-button {
    margin: 10px;
}

.verify-button a {
    background: #efefef;
    color: #000000;
    margin-left: 40px;
    margin-right: 50px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 10px;
}

.re-verify-button a {
    text-decoration: none;
    color:aqua;
}