nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-items: space-between;
    float: right;
}

.header-nav_link {
    color: #000;
    text-decoration: none;
    background: #fff;
    border-radius: 3px;
}

.header-nav_link a {
    color: #000;
    text-decoration: none;
    border: none;
    background: #fff;
    border-radius: 3px;
}

.header-nav_button {
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.header-nav_mypage a {
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.header-nav_sell a {
    border: none;
    padding: 5px 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    background: #fff;
    color: #000;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.profile_form-content {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.profile_form-heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form-group {
    margin-bottom: 5px;
}

.form_group-content img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    border-radius: 50%;
}

.form_input input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 3px;

    appearance: none;
}

.form_group-title {
    text-align: left;
}

.form_error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form_button {
    margin-top: 20px;
}

.form_button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #ff0000;
    cursor: pointer;
}

