.container {
    margin:0 auto;
    padding: 20px;
}

.item_container {
    display: flex;
    gap: 20px;
}

.container_left {
    width: 60%;
}

.container_left-item {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid #000;
    gap:20px;
}

.container_left-item img {
    width: 15%;
    height: 15%;
}

.container_left-item_title {
    display: flex;
    margin-left: 10px;
    padding-bottom: 20px;
}

.container_left-item_title a {
    margin-left: 350px;
    margin-top: 25px;
}

.container_left-item_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_left-item_address {
    display:block;
}

.container_left-item_text {
    display:block;
}

.container_left-item_content select {
    margin-top: 30px;
}

.container_right {
    flex: 1;
}

.container_right-item {
    border: 2px solid #000;
    height: 30vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.top-box, .bottom-box {
    flex: 1;
    padding: 40px;
    text-align: center;
    align-items: center;
    overflow-y: auto;
}

.top-box {
    border-bottom: 2px solid #000;
}

.form_button-submit {

    margin-top: 50px;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #ff0000;
    cursor: pointer;
}

