nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-items: space-between;
    float: right;
}

.header-nav_link {
    color: #000;
    text-decoration: none;
    background: #fff;
    border-radius: 3px;
}

.header-nav_link a {
    color: #000;
    text-decoration: none;
    border: none;
    background: #fff;
    border-radius: 3px;
}

.header-nav_button {
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.sell_form-content {
    margin: 0 auto;
    padding: 20px 15px;
    text-align:center;
    align-items: center;
    max-width: 1230px;
}

.sell_form-heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    text-align: center;
}

.form_container-title {
    margin: 10px;
    border-bottom: 1px solid #000;
    text-align: left;
    color: gray;
}

.form_group {
    margin: 5px;
}

.form_group-title {
    text-align: left;
}

.form_group-checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form_group-checkbox label {
    border:none;
}

.checkbox-item {
    display: inline-block;
    cursor: pointer;
}

.checkbox-item input {
    display: none;
}

.checkbox-item, .checkbox-text {
    display: inline-block;
    padding: 0px 16px;
    background: #ffffff;
    border: 1px solid #ff0000;
    border-radius: 20px;
    color: #ff0000;
    font-size: 12px;
    transition: all 0.3s;
}

.checkbox-item input:checked + .checkbox-text {
    background-color: #ff0000;
    color: #ffffff;
    border-color: #ff0000;
}

.form_group-content input,
.form_group-content textarea,
.form_group-content select {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 3px;
    
    appearance: none;
}
.form_group-content input {
    height: 40px;
}

.form_group-content textarea {
    height: 120px;
}

.form_group-content_image {
    position: relative;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form_group-content_image label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
}

.form_group-content_image:hover label {
    opacity: 1;
}

.form_group-content_image img{
    width: 100%;
    height: 160px;
    border: 1px dotted #000;
    border-radius: 3px;
}

.form_error {
    height: 20px;
    color: #ff0000;
    text-align: center;
}

.form_button {
    margin-top: 20px;
}

.form_button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}

